<%= render 'partial/navbar' %>
<div class="show">
<main class="container">
	<div class="row">
        <!-- title -->
		<section class="title">
			 <div class="jumbotron col-md-12 col-xs-12 col-sm-12">
				<h3><%= @student.name %></h3>
				<p><i class="fa fa-map-marker"></i><%= @student.place %></p>
				<%= image_tag @student.image, class:"img-responsive top-img col-md-12 col-sm-12" %>
	    		<div class="col-md-4 col-sm-12 col-xs-12 text-center panel panel-default">
	    			<div class="pane-body">
	    				 <p><i class="fa fa-map-marker"></i> 場所</p>
	    				<p class="panel-content"><%= @student.place %></p>
	    			</div>
	    		</div>
	    		<div class="col-md-4 col-sm-12 col-xs-12 text-center panel panel-default">
	    			<div class="pane-body">
	    				 <p><i class="fa fa-fire"></i>大学名.学部名</p>
	    				<p class="panel-content"><%= @student.school %></p>
	    			</div>
	    		</div>
	    		<div class="col-md-4 col-sm-12 col-xs-12 text-center panel panel-default">
	    			<div class="pane-body">
	    				 <p><i class="fa fa-fire"></i>年齢</p>
	    				<p class="panel-content"><%= @student.age %></p>
	    			</div>
	    		</div>
	    	 </div>
		</section>
        <!--  end title -->

        <!-- content -->
        <section class="content">
        	<div class="jumbotron col-md-12 col-xs-12 col-sm-12">
        		<h3>自己PR</h3>
        		<%= simple_format(@student.description_pr) %>
        	</div>
       </section>
        <!-- end content -->
        
        <!-- content -->
        <section class="content">
        	<div class="jumbotron col-md-12 col-xs-12 col-sm-12">
        		<h3>興味のあること</h3>
        		<%= simple_format(@student.description_interested) %>
        	</div>
       </section>
        <!-- end content -->
        
       <!--  table  -->
       <section class="job-table">
      			<div class="jumbotron">
         			<div class="row">
      					<div class="col-md-10">
      					<h3>ソーシャル</h3>
      						<table class="table table-bordered">
      							<tbody>
      								<tr>
      									<th class="col-md-3 col-sm-3 col-xs-3">facebook</th>
      									<td class="col-md-9 col-sm-9 col-xs-9"><%= @student.facebook %></td>
      								</tr>
      								<tr>
      									<th class="col-md-3 col-sm-3 col-xs-3">twitter</th></th>
      									<td class="col-md-9 col-sm-9 col-xs-9"><%= @student.twitter %></td>
      								</tr>
      							</tbody>
      						</table>
      					</div>
  		         </div>
      			</div>
       </section>
    <!-- table end -->
    
    <!-- end near jobs  -->
    
    <!--  send  -->
    <section class="send">
    	<div class="jumbotron">
    		<div class="row">
				<button type="button" class="btn btn-warning btn-lg col-md-5 col-sm-6 col-xs-6 send-buttons"><i class="fa fa-star"></i> お気に入り</button>
			</div>
    	</div>
    </section>
    <!--  send end  -->
    
   	</div>
</main>
</div>
<%= render 'partial/footer' %>
<script>
  $('#average_star_rate').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @student.average_star_rate %>
  });
</script>
