<%= render 'partial/navbar' %>
<div class="container">
   <div class="row job-searchs">
    <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
			<div class="page-header">
				<h2 class="search-title">バイト一覧</h2>
			</div>
        <section class="search-form">
             <%= form_tag(jobs_path, method: "get") do %>
         	   <table class="table table-bordered">
                 	<tbody>
                   		<tr>
                   			<th class="col-md-3">日程</th>
                   			<td td class="form-inline">
                   			   <%= text_field_tag :date, params[:date] ,:id => 'datepicker', :class => "col-md-9 col-sm-9 col-xs-8" %>
                   			</td>
                 		</tr>
                   		<tr>
                   			<th class="col-md-3">場所</th>
                   			<td td class="col-md-9 form-inline">
                   			   <%= text_field_tag :place, params[:place], :class => "col-md-9 col-sm-9 col-xs-8" %>
                   			</td>
                 		</tr>
                 		<tr>
                   			<th class="col-md-3">時給</th>
                   			<td td class="col-md-9 form-inline">
                   			   <%= text_field_tag :price_perhour, params[:price_perhour], :class => "col-md-9 col-sm-9 col-xs-8" %>
                   			</td>
                 		</tr>
                 		<tr>
                   			<th class="col-md-3">キーワード</th>
                   			<td td class="col-md-9 form-inline">
                   			   <%= text_field_tag :name, params[:name], :class => "col-md-9 col-sm-9 col-xs-8" %>
                   			</td>
                 		</tr>
                 	</tbody>
                </table>
                <div class="text-center">
                      <%= submit_tag "検索する" ,class:"btn btn-lg btn-search" %>
                </div>
            <% end %>
        </section>
         <!-- end search-form -->
     
        	<% @jobs.each do |job| %>
   			<div class="panel panel-primary panel-list">
       		<div class="panel-heading"></div>
   			   <div class="panel-body">
   				    <div class="panel-title">
   				       <div class="row">
     				      	 <% job.job_images.each do |image| %>
	                             <%= attachment_image_tag image, :image, class:"panel-img panel-img-search col-md-4" %>
	                         <% end %>
           					   	<%= link_to job.name, job_path(job),class:"col-md-6 search-content-title" %>
				         </div>
				      </div>	
    			   <table class="table table-condensed">
                     <tbody>
                        <tr>
                          <td><p><i class="fa fa-map-marker"></i> 日程</p></td>
                          <td><p><%= job.date %></p></td>
                        </tr>
                        <tr>
                          <td><p><i class="fa fa-map-marker"></i> 時給</p></td>
                          <td><p><%= job.price_perhour %>円</p></td>
                        </tr>
                        <tr>
                          <td><p><i class="fa fa-map-marker"></i> 場所</p></td>
                          <td><p><%= job.place %></p></td>
                        </tr>
                    </tbody>
                  </table>
                  <div class="text-center">
                      <button type="button" class="btn btn-lg btn-submit">応募する　<i class="fa fa-chevron-right"></i></button>
                  </div>
			  </div>
             </div>
            <% end %>
       </div>
   </div>
</div>
<%= render 'partial/footer' %>
<style>
    body{
        background-color: #F7F7F7;
    }
    
    #footer{
        margin-top: 70px;
    }
</style>