<%= render 'partial/navbar' %>
<div class="show">
<main class="container">
	<div class="">
        <!-- title -->
		<section class="title">
			 <div class="jumbotron col-md-12 col-xs-12 col-sm-12">
				<h3><%= current_farmer.name %></h3>
				<p><i class="fa fa-map-marker"></i><%= current_farmer.place %></p>
				<%= image_tag current_farmer.image, class:"img-responsive top-img col-md-12 col-sm-12" %>
	    		<div class="col-md-4 col-sm-12 col-xs-12 text-center panel panel-default">
	    			<div class="pane-body">
	    				<p><i class="fa fa-user"></i> 従業員数</p>
	    				<p class="panel-content"><%= current_farmer.member_number %></p>
	    			</div>
	    		</div>
	    		<div class="col-md-4 col-sm-12 col-xs-12 text-center panel panel-default">
	    			<div class="pane-body">
	    				 <p><i class="fa fa-map-marker"></i> 場所</p>
	    				<p class="panel-content"><%= current_farmer.place %></p>
	    			</div>
	    		</div>
	    		<div class="col-md-4 col-sm-12 col-xs-12 text-center panel panel-default">
	    			<div class="pane-body">
	    				 <p><i class="fa fa-fire"></i> 仕事内容</p>
	    				<p class="panel-content"><%= current_farmer.job_about %></p>
	    			</div>
	    		</div>
	    	 </div>
		</section>
        <!--  end title -->
        
        <!-- links -->
        <section class="mypage-links">
            <div class="col-md-offset-1">
                <%= link_to "お仕事一覧", jobs_path(@farmer), class:"col-md-5 col-sm-6 col-xs-6 button-line text-center" %>
                <%= link_to "農家の紹介", farmer_path(current_farmer), class:"col-md-5 col-sm-6 col-xs-6 button-line text-center" %>
            </div>
        </section>
        <!-- end links -->
        
        <!--  list  -->
        <div class="list jumbotron col-md-12 col-sm-12 col-xs-12">
        	<% @jobs.each do |job| %>
			<div class="panel panel-primary panel-list">
    			<div class="panel-heading"> 
				</div>
            
			<div class="panel-body">
				<div class="panel-title">
				<div class="row">
					<%= image_tag 'indexPhoto01',class: "panel-img col-md-4" %>
					
					
					<div class="panel-tags">
						<button type="button" class="btn btn-primary btn-xs">お米農家</button>
						<button type="button" class="btn btn-primary btn-xs">厚木市</button>
					</div>
					<h3 class="col-md-6">
						<%= job.name %>
					</h3>
					<%= link_to "詳しく", job_path(job), class:"btn btn-default btn-lage"  %>
				</div>
				</div>	
    			<table class="table table-condensed">
                    <tbody>
                            <tr>
                                <td><p><i class="fa fa-map-marker"></i> 日程</p></td>
                                <td><p>2018年 4月12日(木) 17:00 ~ 20:00</p></td>
                            </tr>
                            <tr>
                                <td><p><i class="fa fa-map-marker"></i> 時給</p></td>
                                <td><p><%= job.price_perhour %>円</p></td>
                            </tr>
                            <tr>
                                <td><p><i class="fa fa-map-marker"></i> 場所</p></td>
                                <td><p><%= job.place %></p></td>
                            </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-warning btn-lg active btn-send">応募する　<i class="fa fa-chevron-right"></i></button>
			</div>
          </div>
          <% end %>
        </div>
        <!--  end list  -->
        </div>
   	</div>
</main>
</div>
<%= render 'partial/footer' %>
