    <%= form_for @job do |f| %>
          <div class="form-group">
            <label for="exampleFormControlInput1">お仕事のタイトルを教えてください</label>
            <%= f.text_field :name, autofocus: true , :class => 'form-control' %>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">お仕事の特徴を一言で教えてください</label>
            <%= f.text_field :character, autofocus: true , :class => 'form-control' %>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">仕事場のご住所はどこですか？</label>
            <%= f.text_field :place, autofocus: true , :class => 'form-control' %>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">お仕事の予定日を教えてください</label>
            <%= f.text_field :date, autofocus: true , :class => 'form-control', :id => 'datepicker' %>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">時給をおしえてください</label>
            <%= f.text_field :price_perhour, autofocus: true , :class => 'form-control' %>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">どんなお仕事ですか？</label>
            <%= f.text_area :description, rows: 5, cols: 25, :class => 'form-control' %>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">画像</label>
            <p>画像:<%= f.file_field :jimage ,accept: 'image/jpeg,image/gif,image/png' %></p>
          </div>
          <div class="actions">
              <%= f.submit "お仕事を追加", :class => "btn btn-primary btn-plofile btn-lg" %>
          </div>
    <% end %>