<%= render 'partial/navbar' %>

<div class="container"> 
    <section class="title">
		<div class="jumbotron col-md-12 col-xs-12 col-sm-12">
			<h3><%= @farmer.name %></h3>
			<p><i class="fa fa-map-marker"></i><%= @farmer.place %></p>
	    	<div class="col-md-4 col-sm-12 col-xs-12 text-center panel panel-default">
	    		<div class="pane-body">
	    			<p><i class="fa fa-user"></i> 従業員数</p>
	    			<p class="panel-content"><%= @farmer.member_number %></p>
	    		</div>
	    	</div>
	    	<div class="col-md-4 col-sm-12 col-xs-12 text-center panel panel-default">
	    		<div class="pane-body">
	    			<p><i class="fa fa-map-marker"></i> 場所</p>
	    			<p class="panel-content"><%= @farmer.place %></p>
	    		</div>
	    	</div>
	    	<div class="col-md-4 col-sm-12 col-xs-12 text-center panel panel-default">
	    		<div class="pane-body">
	    			<p><i class="fa fa-fire"></i> 仕事内容</p>
	    			<p class="panel-content"><%= @farmer.job_about %></p>
	    		</div>
	    	</div>
	    </div>
	</section>
	
	<!-- links -->
        <div class="jumbotron col-md-12 col-xs-12 col-sm-12">
            <%= link_to "農家の紹介", farmer_path(@farmer), class:"col-md-4 col-sm-4 col-xs-4 button-line text-center" %>
            <%= link_to "お仕事一覧", farmer_jobs_path(@farmer), class:"col-md-4 col-sm-4 col-xs-4 button-line text-center" %>
            <%= link_to "ブログ", farmer_blogs_path(@farmer), class:"col-md-4 col-sm-4 col-xs-4 button-line text-center" %>
        </div>
    <!-- end links -->
	
    <div class="jumbotron col-md-12 col-xs-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-center">
                    <span style="font-size:18px;">ブログ一覧</span>
                </div>
            </div>
            <ul class="ul-unstyled">
                <% @farmer.blogs.each do |blog| %>
                    <li class="panel-body">
                        <div class="row-table">
                            <div class="col-md-3 col-sm-3 col-middle row-space-2">
                                <div class="panel-list-img text-center">
	                	             <%= image_tag blog.bimage.url, class:"panel-img col-md-4" %>
                                </div> 
                            </div>

                            <div class="col-sm-7 col-lg-7 col-middle row-space-2">
                                <span class="blog-title"><%= link_to blog.blog_title, blog_path(blog) %></span>
                            </div>
                            
                            <div class="col-md-3 col-sm-3 col-middle row-space-1">
                                <%= link_to "編集する", edit_blog_path(blog), class: "btn btn-primary pull-right" %>
                            </div>
                        </div>
                    </li>
                <% end %>               
            </ul>     
        </div>
    </div>
</div>
<style>
	body{
        background-color: #F7F7F7;
    }
</style>
