<%= render 'partial/navbar' %>
<main class="container">
	<div class="row">
        <!-- title -->
		<section class="title">
			 <div class="jumbotron col-md-12 col-xs-12 col-sm-12">
				<h3><%= @farmer.name %></h3>
				<p><i class="fa fa-map-marker"></i><%= @farmer.place %></p>
				<%= image_tag @farmer.image, class:"img-responsive top-img col-md-12 col-sm-12" %>
	    		<div class="col-md-4 col-sm-12 col-xs-12 text-center panel panel-default">
	    			<div class="pane-body">
	    				<p><i class="fa fa-user"></i> 従業員数</p>
	    				<p class="panel-content"><%= @farmer.member_number %></p>
	    			</div>
	    		</div>
	    		<div class="col-md-4 col-sm-12 col-xs-12 text-center panel panel-default">
	    			<div class="pane-body">
	    				 <p><i class="fa fa-map-marker"></i> 場所</p>
	    				<p class="panel-content"><%= @farmer.place %></p>
	    			</div>
	    		</div>
	    		<div class="col-md-4 col-sm-12 col-xs-12 text-center panel panel-default">
	    			<div class="pane-body">
	    				 <p><i class="fa fa-fire"></i> 仕事内容</p>
	    				<p class="panel-content"><%= @farmer.job_about %></p>
	    			</div>
	    		</div>
	    	 </div>
		</section>
        <!--  end title -->
        
        <!-- links -->
        <div class="jumbotron col-md-12 col-xs-12 col-sm-12">
            <%= link_to "農家の紹介", farmer_path(@farmer), class:"col-md-4 col-sm-4 col-xs-4 button-line text-center" %>
            <%= link_to "お仕事一覧", farmer_jobs_path(@farmer), class:"col-md-4 col-sm-4 col-xs-4 button-line text-center" %>
            <%= link_to "ブログ", farmer_blogs_path(@farmer), class:"col-md-4 col-sm-4 col-xs-4 button-line text-center" %>
        </div>
        <!-- end links -->

        <!-- content -->
        <section class="content what-farmer-do">
        	<div class="jumbotron col-md-12 col-xs-12 col-sm-12">
        		<h3>なにをやっているか</h3>
        		<%= simple_format(@farmer.description_about) %>
        	</div>
       </section>
        <!-- end content -->
        
        <!-- content -->
        <section class="content">
        	<div class="jumbotron col-md-12 col-xs-12 col-sm-12">
        		<h3>私たちについて</h3>
                <%= simple_format(@farmer.description_us) %>
        	</div>
       </section>
        <!-- end content -->
        
        <!-- jobs -->
        <section class="farmer-jobs">
        	<div class="jumbotron col-md-11 col-xs-11 col-sm-11">
        		<h3>お仕事</h3>
        		<% @jobs.each do |job| %>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-job text-center" style="padding: 0;">
                            <%= link_to(job) do %>
                                <% job.job_images.each do |image| %>
	                              <%= attachment_image_tag image, :image, class:"panel-img col-md-4" %>
	                	        <% end %>
                            <% end %>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8 col-xs-8">
                                    <%= link_to job.name, job %><br>
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <%= image_tag job.farmer.image,class:"img-circle profile-1" %>
                                </div>
                                <div class="price-card price-card-b">
                                    <%= job.price_perhour %> 円     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
        	</div>
       </section>
        <!-- end content -->
        
        <!-- blogs -->
        <section class="content">
        	<div class="jumbotron col-md-11 col-xs-11 col-sm-11">
        		<h3>ブログ</h3>
        	    <% @farmer.blogs.each do |blog| %>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-job text-center" style="padding: 0;">
                            <%= link_to(blog) do %>
	                              <% blog.blog_images.each do |image| %>
	                                  <%= attachment_image_tag image, :image, class:"panel-img col-md-4" %>
	                	         <% end %>
                            <% end %>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8 col-xs-8">
                                    <%= link_to blog.blog_title, blog %><br>
                                </div>
                                <div class="col-md-3 col-xs-3">
                                    <%= image_tag blog.farmer.image,class:"img-circle profile-1" %>
                                </div>
                                <div class="price-card price-card-b">
                                    <%= blog.created_at.strftime("%Y年%m月%d日") %>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
        	</div>
       </section>
        <!-- end blogs -->
        
       <!--  table  -->
       <section class="job-table">
      			<div class="jumbotron">
       			<div class="row">
					<div class="col-md-10">
					<h3>会社概要</h3>
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th class="col-md-3 col-sm-3 col-xs-3">会社名</th>
									<td class="col-md-9 col-sm-9 col-xs-9"><%= @farmer.name %></td>
								</tr>
								<tr>
									<th class="col-md-3 col-sm-3 col-xs-3">代表</th>
									<td class="col-md-9 col-sm-9 col-xs-9"><%= @farmer.leader_name %></td>
								</tr>
								<tr>
									<th class="col-md-3 col-sm-3 col-xs-3">住所</th>
									<td class="col-md-9 col-sm-9 col-xs-9"><%= @farmer.place %></td>
								</tr>
								<tr>
									<th class="col-md-3 col-sm-3 col-xs-3">連絡先</th>
									<td class="col-md-9 col-sm-9 col-xs-9"><%= @farmer.phone_number %></td>
								</tr>
							</tbody>
						</table>
					</div>
		         </div>

      			</div>
       </section>
    <!-- table end -->
    
    <!-- google map -->
    <section class="map">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-10">
                    <h3>場所</h3>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- google map end -->    
    
    <!--  send  -->
    <section class="send">
    	<div class="jumbotron">
    		<div class="row">
				<button type="button" class="btn btn-warning btn-lg col-md-5 col-sm-6 col-xs-6 send-buttons"><i class="fa fa-star"></i> お気に入り</button>
			</div>
    	</div>
    </section>
    <!--  send end  -->
   	</div>
</main>
<%= render 'partial/footer' %>
<!-- google map  -->
<script>
function initMap() {
  
  // Create the map.
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: {lat: <%=@farmer.latitude %>, lng: <%=@farmer.longitude %>},
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });


  // Add the circle for this city to the map.
  var cityCircle = new google.maps.Circle({
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#FF0000',
    fillOpacity: 0.35,
    map: map,
    center: {lat: <%=@farmer.latitude %>, lng: <%=@farmer.longitude %>},
    radius: 500
  });
  
}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYa7BUZC8vDfbqree2TYehmkX6S8r2ugk&signed_in=true&callback=initMap">
</script>
<!-- end google map -->